Q1) Using Pandas read any CSV file and display first five rows of that file.

In [ ]:
import pandas as pd
frame = pd.read_csv("//content/sample_data/california_housing_test.csv")
print(frame.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0
4       850.0       237.0         2.9375             81700.0

Q2) Write a python program to print the contents of a directory using OS module. Search online for the function which does that.

In [ ]:
import os
folders = os.listdir("/lib")
for s in folders:
  print(s)

mime
apt
sysctl.d
x86_64-linux-gnu
systemd
locale
lsb
os-release
udev
usrmerge
tmpfiles.d
dpkg
init
terminfo
python3
R
cmake
man-db
gcc
policykit-1
X11
groff
bfd-plugins
tk8.6
binfmt.d
libmfhdfalt.so.0
clang
libhdf4.settings
modules-load.d
tc
modules
software-properties
environment.d
python3.10
libdfalt.la
tclConfig.sh
emacsen-common
tcl8.6
libBLT.2.5.so.8.6
libmfhdfalt.a
pkgconfig
libvpf.so
debug
jvm
libdfalt.a
p7zip
libogdi.so
tcltk
libvpf.so.4.1
ogdi
libogdi.so.4.1
libdfalt.so.0.0.0
libvpf.so.4
libarmadillo.so
libogdi.so.4
pam.d
llvm-14
git-core
libgdal.so
libpsm1
libBLTlite.2.5.so.8.6
polkit-1
libgdal.so.30
libR.so
libdfalt.so.0
tkConfig.sh
libgdal.so.30.0.3
libdfalt.so
libmfhdfalt.so
sysusers.d
valgrind
python3.11
tclooConfig.sh
libarmadillo.so.10
dbus-1.0
python2.7
openssh
modprobe.d
libarmadillo.so.10.8.2
libmfhdfalt.so.0.0.0
libgdal.a
pkg-config.multiarch
girepository-1.0
kernel
libmfhdfalt.la
dh-elpa
file
ld-linux.so.2
blt2.5
gold-ld
cpp
compat-ld
gnupg2
gnupg
sasl2
ssl

Q3) Write a program to read image and find size and shape of image using external module.

In [ ]:
from PIL import Image

image_path = "\C:\Users\asus\Desktop\IMP Docs\WhatsApp Image 2023-05-14 at 21.41.37.jpg"
try:
    img = Image.open(image_path)
    width, height = img.size

    shape = img.mode

    print(f"Image Size (Width x Height): {width} x {height}")
    print(f"Image Shape (Mode): {shape}")

SyntaxError: ignored

Q4) Please write a program to make a list of random numbers between 0 to 10  and  output numbers from that list  which is divisible by 5 or 7, using random module.

In [ ]:
import random

for i in range(5):
  n = random.randint(0,11)
  if n%5 == 0 or n%7 == 0:
    print(n, end = " ")

10 7

Q5) Write a python program to convert dictionary to xml.

In [ ]:
!pip install dict2xml

Collecting dict2xml
  Using cached dict2xml-1.7.3-py3-none-any.whl (7.3 kB)
Installing collected packages: dict2xml
Successfully installed dict2xml-1.7.3

In [ ]:
from dict2xml import dict2xml

print("My dictionary: ")
python_dict={"Name":"Akanksha","Class":"2nd year btech CSE","Batch of":"2026"}
print(python_dict)
print("\n output:")
xml_output = dict2xml(python_dict)
print(xml_output)

My dictionary:
{'Name': 'Akanksha', 'Class': '2nd year btech CSE', 'Batch of': '2026'}

 output:
<Batch_of>2026</Batch_of>
<Class>2nd year btech CSE</Class>
<Name>Akanksha</Name>

6) Write a program to validate phone number.

In [ ]:
phoneno = input("Enter the phone number: ")
flag = True
if(len(phoneno)!=10):
  flag = False
else:
  if(len(phoneno) == 10):
    for i in phoneno:
      if ord(i)<48 and ord(i)>7:
        flag = False
        break

if flag:
  print("Valid")
else:
  print("Invalid")

Enter the phone number: 9109352316
Valid

7) Given 2 sets of integers, M and N, print their symmetric difference in ascending order. The term symmetric difference indicates those values that exist in either M or N but do not exist in both.
Input Format :

The first line of input contains an integer, M.
The second line contains M space-separated integers.
The third line contains an integer, N.

The fourth line contains N space-separated integers.

 Output Format :

Output the symmetric difference integers in ascending order, one per line.

Sample Input :

4

2 4 5 9

4

2 4 11 12



Sample Output:

5

9

11

12

In [ ]:
M = int(input())
str1 = input()
N = int(input())
str2 = input()
auxlist1 = str1.split()
auxlist2 = str2.split()

list1 = []
list2 = []
final = []
for i in auxlist1:
    list1.append(int(i))
for i in auxlist2:
    list2.append(int(i))

for i in list1:
    if i not in list2:
        final.append(i)
for i in list2:
    if i not in list1:
        final.append(i)
final.sort()
print("output list: ", final)

5
6789
6
6789
output list:  []

8) Consider a list (list = []). You can perform the following commands:

1.      insert i e: Insert integer e at position i.

2.      print: Print the list.

3.      remove e: Delete the first occurrence of integer e.

4.      append e: Insert integer  e at the end of the list.

5.      sort: Sort the list.

6.      pop: Pop the last element from the list.

7.      reverse: Reverse the list.

Initialize your list and read in the value of n followed by  n lines of commands where each command will be of the  7 types listed above. Iterate through each command in order and perform the corresponding operation on your list.

Sample Input 0

12

insert 0 5

insert 1 10

insert 0 6

print

remove 6

append 9

append 1

sort

print

pop

reverse

print

Sample Output 0

[6, 5, 10]

[1, 5, 9, 10]

[9, 5, 1]

In [ ]:
list1 = []
n = int(input())

for i in range(n):
    command = input()
    pointer = 0

    while(pointer<len(command) and command[pointer].isspace() is False):
        pointer+=1
    opcode = command[0:pointer]

    if opcode == "insert":
        pointer+=1
        flag = pointer
        while command[pointer].isspace() is False:
            pointer+=1
        operand1 = int(command[flag:pointer])
        operand2 = int(command[pointer+1::])
        list1.insert(operand1, operand2)

    elif opcode == "print":
        print(list1)

    elif opcode == "remove":
        operand = int(command[flag::])
        list1.remove(operand)

    elif opcode == "append":
        operand = int(command[flag::])
        list1.append(operand)

    elif opcode == "pop":
        list1.pop();

    elif opcode == "sort":
        list1.sort()

    elif opcode == "reverse":
        list1.reverse()

3333
4
5
6
7
8
9
10
3
2
1

9)You are given a date. Your task is to find what the day is on that date.

Input Format

A single line of input containing the space separated month, day and year, respectively, in  MM DD YYYY   format.

Constraints

2000<year<3000

Output Format

Output the correct day in capital letters.

Sample Input

08 05 2015

Sample Output

WEDNESDAY

In [ ]:
import datetime

date_input = input("Enter the date in MM DD YYYY format: ")
month, day, year = map(int, date_input.split())

date_obj = datetime.datetime(year, month, day)

day_of_week = date_obj.weekday()
days = ["MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY", "SUNDAY"]

print(days[day_of_week])

Enter the date in MM DD YYYY format: 09 18 2003
THURSDAY

10) Write a program which accepts a sequence of words separated by whitespace as input to print the words composed of digits only.

Example: If the following words are given as input to the program: 2 cats and 3 dogs.

 Then, the output of the program should be: ['2', '3']

 In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
import re

input_string = input("Enter a sequence of words: ")

digit_words = re.findall(r'\b\d+\b', input_string)

print(digit_words)

Enter a sequence of words: 3 dogs 4 cats
['3', '4']